.form__error {
    display: flex;
    margin-top: .5em;
    align-items: center;
}

.error__img {
    width: 16px;
    height: 16px;
    margin: 0 .5em;
    background-image: url(../../../img/form-validation/warning.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.error__text {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: var(--red);
    width: fit-content;
}